@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* vars */

:root
{
/*     values */
    --basic-size: 13;
    --scale: 1.2;
    --reverse-scale: 0.8;

/*     usable sizes */
    --normal-size: calc(var(--basic-size) * 1px);
    --smaller-size: calc(calc(var(--basic-size) * var(--reverse-scale) ) * 1px);
    --larger-size: calc(calc(var(--basic-size) * var(--scale) ) * 1px);
    --x-larger-size: calc(calc(var(--basic-size) * var(--scale) ) * 2px);
}

body
{
    margin: 0px;
    padding: 0px;
    font-size: var(--normal-size);
    font-family: 'Poppins','Arial';
    background-color: var(--body-background);
    color: var(--basic-text-color);
}

/* global class list */

.smaller-size
{
    font-size: var(--smaller-size);
}

.larger-size
{
    font-size: var(--larger-size);
}

.x-larger-size
{
    font-size: var(--x-larger-size);
}

.flex
{
    display: flex;
}

.block,.special-underline::before
{
    display: block;
}

.row
{
    flex-direction: row;
}

.column
{
    flex-direction: column;
}

.wrap
{
    flex-wrap: wrap;
}

.align-center
{
    align-items: center;
}

.justify-center
{
    justify-content: center;
}

.align-around
{
    align-items: flex-around;
}

.justify-around
{
    justify-content: space-around;
}

.align-between
{
    align-items: space-between;
}

.justify-between
{
    justify-content: space-between;
}

.align-end
{
    align-items: flex-end;
}

.justify-end
{
    justify-content: flex-end;
}

.u
{
    text-decoration: underline;
}

.text-center
{
    text-align: center;
}

.fix
{
    position: fixed;
}

.relative
{
    position: relative;
}

.fix-center
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.width-content
{
    width: fit-content;
    max-width: 100vw;
}

.m-auto
{
    margin: auto;
}

.special-underline
{
    position: relative;
}

.special-underline::before
{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--sub-in-subcolor);
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.special-underline:hover::before
{
    width: 90%;
}

/* elements default css */

a
{
    color: inherit;
    text-decoration: none;
}









