<label for="global_nav_toggler" id="toggler">
    <span></span>
    <span></span>
    <span></span>
</label>

<input type="checkbox" id="global_nav_toggler" autocomplete="on">

<nav class="flex row justify-between align-center">
    <img src="" alt="{{ env('APPNAME')  }}">
    <ul class="nav-links">
        <a href="#">Forums</a>
        <a href="#">Cours</a>
        <a href="#">Documentations</a>
    </ul>

    <ul class="components">
        <span class="searchbar"></span>
    </ul>
</nav>
