<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">

    {{-- app description for robots --}}

	@section('description')
        <meta name="description" content="{{ env('APPNAME') }} site web utilitaire pour développeurs, Cours / Forum / Documentation">
    @end

    {{-- added meta values --}}

    @section('meta_values')
    @end

    {{-- add theme, nav,components and app css --}}

    @!component('components/css',{
        dirname : 'global',
        filename : 'theme'
    })

    @!component('components/css',{
        dirname : 'global',
        filename : 'app'
    })

    @!component('components/css',{
        dirname : 'global',
        filename : 'components'
    })

    @!component('components/css',{
        dirname : 'includes',
        filename : 'global_nav'
    })

    {{-- add m_app and global_nav js --}}

    @!component('components/js',{
        dirname : 'global',
        filename : 'm_app',
        module : true
    })

    @!component('components/js',{
        dirname : 'includes',
        filename : 'global_nav',
        module : true
    })

    {{-- include font awesome --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {{-- added css --}}

    @section('stylesheets')
    @end

    {{-- added js --}}

    @section('js')
    @end

	<title>{{ title }}</title>
</head>
<body>
    @include('includes/global_nav')
    @section('body')
    @end
</body>
</html>
