<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	@section('description')
        <meta name="description" content="{{ env('APPNAME') }} site web utilitaire pour développeurs, Cours / Forum / Documentation">
    @end
    <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
	<title>{{ title }}</title>
</head>
<body>
    @section('body')
    @end
</body>
</html>
